* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: rgb(44, 43, 43);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav img {
  width: 120px;
}

nav ul {
  display: flex;
}

nav ul > li {
  list-style: none;
  color: white;
  margin-left: 15px;
  font-size: 20px;
}
